<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 mb-3" *ngFor="let sensor of sensors; let s_index = index">
      <div class="card card-header" [ngClass]="{'bg-success': sensor.status, 'bg-danger': !sensor.status}">
        <h4>{{sensor.id}}</h4>
      </div>
      <div class="card card-body">
        <h5 class="card-title">{{sensor.name}}</h5>
        <p class="card-text">{{sensor.status}}</p>
        <button class="btn btn-primary" type="button" (click)="onDeleteSensor(s_index)">Удалить</button>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="form-group container" id="add-form">
      <label for="exampleInputEmail1">Название</label>
      <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp"
        placeholder="Введите название" [(ngModel)]="newTitle">
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" [(ngModel)]="newStatus" name="status" id="status1" value="online"
        checked>
      <label class="form-check-label" for="status1">
        Онлайн
      </label>
    </div>
    <div class="form-check ml-2">
      <input class="form-check-input " type="radio" name="status" id="status2" [(ngModel)]="newStatus" value="offline">
      <label class="form-check-label" for="status2">
        Офлайн
      </label>
    </div>
    <br>
    <button class="ml-5 btn btn-primary" (click)="onAddSensor()">Добавить</button>
    <!-- </form> -->
  </div>
</div>
